/* Header */


.Header {
    height: 60px;
    background-color:#001C30;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .logoAndName {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    
  }
  
  .logoAndName .logoCircle a{
    height: 30px;
    width: 30px;
    background-color: aqua;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(0, 49, 49);
  }
  
  .logoAndName p {
    margin-inline: 5px;
    margin-top: 20px;
    font-family: 'Kenia', cursive;
    font-size: 25px;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  }
  
  .lastFind {
    padding-right: 20px;
  }
  
  .icons p {
    font-size: 20px;
    margin-inline: 10px;
    margin-top: 20px;
  }
  
  .darkDiv {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icons p a {
    color: white;
  }
  
  .icons p a i {
    font-size: 22px;
  
  }
  