.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 20px;
}

.grid > div {
    padding: 10px;
}

@media (max-width: 850px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}